html {
      font-family: Arial;
  	display: inline-block;
      margin: 0px auto;
      text-align: center;
    }
    h1 {
      color: #0F3376;
      padding: 2vh;
    }
    p {
      font-size: 1.5rem;
    }
    .button {
      display: inline-block;
      background-color: #008CBA;
      border: none;
      border-radius: 4px;
      color: white;
      padding: 16px 40px;
      text-decoration: none;
      font-size: 30px;
      margin: 2px;
      cursor: pointer;
    }
    .button2 {
      background-color: #f44336;
    }
    .units {
      font-size: 1.2rem;
     }
    .sensor-labels {
      font-size: 1.5rem;
      vertical-align:middle;
      padding-bottom: 15px;
    }
    .menuBox{
      display: inline-block;
      background-color: #008CBA;
      color: white;
      
      
      border: none;
      padding: 16px 40px;
      font-size: 30px;
    }
    .left1{
      position: absolute;
      left: 0px;
      top: 12.5%;
	  border-radius: 0px 32px 32px 0px;
    }
    .left2{
      position: absolute;
      left: 0px;
      top: 37.5%;
	  border-radius: 0px 32px 32px 0px;
    }
    .left3{
      position: absolute;
      left: 0px;
      top: 62.5%;
	  border-radius: 0px 32px 32px 0px;
    }
    .left4{
      position: absolute;
      left: 0px;
      top: 87.5%;
	  border-radius: 0px 32px 32px 0px;
    }
	.right1{
		position: absolute;
		right: 0px;
		top: 12.5%;
		border-radius: 32px 0px 0px 32px;
	}
	.right2{
		position: absolute;
		right: 0px;
		top: 37.5%;
		border-radius: 32px 0px 0px 32px;
	}
	.right3{
		position: absolute;
		right: 0px;
		top: 62.5%;
		border-radius: 32px 0px 0px 32px;
	}
	.right4{
		position: absolute;
		right: 0px;
		top: 87.5%;
		border-radius: 32px 0px 0px 32px;
	}