html {
  font-family: 'Times New Roman', serif;
  	display: inline-block;
      margin: 0px auto;
      text-align: center;
    }
    h1 {
      color: #0F3376;
      padding: 2vh;
    }
    p {
      font-size: 1.5rem;
    }
    .button {
      display: inline-block;
      border: none;
      border-radius: 4px;
      color: white;
      padding: 16px 40px;
      text-decoration: none;
      font-size: 30px;
      margin: 2px;
      cursor: pointer;
    }
    .button2 {
      background-color: #f44336;
    }
    .units {
      font-size: 1.2rem;
     }
    .sensor-labels {
      font-size: 1.5rem;
      vertical-align:middle;
      padding-bottom: 15px;
    }
    .menuBox{
      display: inline-block;
      background-color: rgb(226, 186, 76);;
      color: rgb(0, 0, 0);
      
      
      border: none;
      padding: 16px 40px;
      font-size: 30px;
    }
	#lastName{
		font-size: 32pt;
	}
	#menuText1{
		font-size: 32pt;
	}
	#menuText2{
    font-family: 'Times New Roman', serif;
		font-size: 50pt;
		color: rgb(226, 186, 76);
	}
    .left1{
      position: absolute;
      left: 0px;
      top: 12.5%;
	  border-radius: 0px 32px 32px 0px;
	  background-color: rgb(226, 186, 76);
    }
    .left2{
      position: absolute;
      left: 0px;
      top: 37.5%;
	  border-radius: 0px 32px 32px 0px;
	  background-color: rgb(226, 186, 76);
    }
    .left3{
      position: absolute;
      left: 0px;
      top: 62.5%;
	  border-radius: 0px 32px 32px 0px;
	  background-color: rgb(226, 186, 76);
    }
    .left4{
      position: absolute;
      left: 0px;
      top: 87.5%;
	  border-radius: 0px 32px 32px 0px;
	  background-color: rgb(226, 186, 76);
    }
	.right1{
		position: absolute;
		right: 0px;
		top: 12.5%;
		border-radius: 32px 0px 0px 32px;
		background-color: #f44336;
	}
	.right2{
		position: absolute;
		right: 0px;
		top: 37.5%;
		border-radius: 32px 0px 0px 32px;
		background-color: #f44336;
	}
	.right3{
		position: absolute;
		right: 0px;
		top: 62.5%;
		border-radius: 32px 0px 0px 32px;
		background-color: #f44336;
	}
	.right4{
		position: absolute;
		right: 0px;
		top: 87.5%;
		border-radius: 32px 0px 0px 32px;
		background-color: #f44336;
	}

  .withdrawBox1{
	position: absolute;
	bottom: 0px;
	left: 33%
  }
  #midWrapper{
    width: 100%
  }
  #midTables{
    background-color: #C44536;
    width: 70%;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    float: center;
  }
  #balanceTable{
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
  }
  .balanceTR:nth-child(even){
    background-color: #135358;
  }
  .balanceTH{
    
    border: 1px solid #162020;
    padding: 8px;
    text-align: center;
  }
  #Nibba_colum_mid_top{
    background-color: #C44536;
    width: 550px;
    height: 350px;

    margin: auto;
    top: 50%;
    bottom: 50%;
    width: 50%;

}